@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Cabin:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Vinyl&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Vinyl&display=swap');

body {
    margin: 0;
    align-content: center;
    font-family: "Poppins", sans-serif;
    background-image: url(/src/assets/imagens/Copy\ of\ Barber\ Shop\ Price\ Flyer\ Poster.jpg);
}

.bg-catalogo {
    width: 60%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.579);
    border: 2px solid rgba(255, 255, 255, 0.286);
    border-radius: 20px;
    color: #fff;
    padding: 30px 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-catalogo {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.67);
    border:2px solid rgba(255, 255, 255, 0.286);
    border-radius: 20px;
    color: #fff;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-catalogo > h1 {
    font-family: "Amatic SC", serif;
    font-size: 40px;
    font-weight: 900;
    font-variant: bold;
    text-align: center;
    color: #000000;
    margin: 0;
    text-shadow: 1px 1px 15px #000000b9;
}

.catalogo-container {
    width: 80%;
    margin-top: 20px;
}

.corte {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px #000 solid;
    border-radius: 20px;
}

.corte > img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.corte > label {
    color: #000;
    font-weight: 500;
    font-size: 17px;
}

.btn-agendar {
    font-family: "Poppins", sans-serif;
    background-color: #839074;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 50px;
    height: 30px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.btn-agendar:hover {
    background-color: #6a755e;
}

@media only screen and (max-width: 950px) {
    .bg-catalogo {
        width: 70%;
    }

    .card-catalogo {
        height: 90%;
    }

    .corte > label {
        color: #000;
        font-weight: 500;
        font-size: 14px;
    }

    .card-catalogo > h1 {
        font-family: "Amatic SC", serif;
        font-size: 30px;
        font-weight: 900;
        font-variant: bold;
        text-align: center;
        color: #000000;
        margin: 0;
        text-shadow: 1px 1px 15px #000000b9;
    }

    .corte > img {
        width: 30px;
        height: 30px;
        border-radius: 5px;
    }

    .catalogo-container {
        width: 90%;
        height: 90%;
        margin-top: 20px;
    }

    .btn-agendar {
        font-family: "Poppins", sans-serif;
        background-color: #839074;
        color: white;
        border: none;
        border-radius: 50px;
        height: 25px;
        cursor: pointer;
        font-size: 08px;
        font-weight: 500;
        transition: background-color 0.3s ease;
    }
}

@media only screen and (max-width: 600px) {
    .bg-catalogo {
        width: 80%;
    }

    .card-catalogo {
        width: 100%;
        height: 90%;
        padding: 10px 20px;
    }
    
    .catalogo-container {
        width: 90%;
        height: 100%;
        margin-top: 20px;
    }

    .corte {
        display: flex;
        align-items: center;
        justify-content: space-between; 
        margin-bottom: 20px;
        padding: 10px;
        border: 1px #000 solid;
        border-radius: 20px;
    }
    
    .corte > img {
        width: 20px;
        height: 20px;
        border-radius: 5px;
    }
    
    .corte > label {
        color: #000;
        font-weight: 500;
        font-size: 10px;
    }
    
    .btn-agendar {
        background-color: #839074;
        color: white;
        border: none;
        border-radius: 50px;
        height: 20px;
        cursor: pointer;
        font-size: 5px;
        font-weight: 500;
    }

}