* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(../imagens/Copy\ of\ Barber\ Shop\ Price\ Flyer\ Poster.jpg);
}

.container {
    display: flex;
    flex-direction: column;
    overflow: auto;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 80%;

}

.titulo {
    height: 20%;
    width: 100%;
    text-align: center;
}

.tabela {
    width: 100%;
    height: 100%;
}

.tabela table {
    width: 100%;
}

th,
td {
    max-width: 10px;
    height: 30px;
    border: 1px solid #000;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

th {
    background-color: aqua;
}

.botao{
    background-color: transparent;
    border: none;
}
.botao img {
    width: 28px;
    height: 28px;
}

